<%- include("header") -%>

<h2>About page</h2>

<p>A website which helps you keep track of all the activities that you have to perform in a day and plan your time and schedule wisely. It has also incorporated the mongoDB database which makes it a reliable website to add your activity and be rest assured about its availability even when the server is closed.</p>

<%- include("footer") -%>
